<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='front-page.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
  <header id="lc-header">
    <div class="life-logo">
      <img src="https://i.imgur.com/eyeK6of.png?1" class="lc-logo" alt="lc-logo">
    </div>
    <nav class="global-header">
      <ul>
        <li>Home</li>
        <li>Patient Charts</li>
        <li>Background</li>
      </ul>
    </nav>
  </header>

<div class="hero-full-background-image">
  <div class="header-front-page">
    <span class="provider-newsletter-header">LifeCare </span>
    <span class="newsletter-header">Newsletter</span>
    <img src="https://i.imgur.com/ftsn0BR.png?1" class="med-logo" alt="med-logo">
    <div class="break-lines">
      <hr size="15" width="65%" class="green-line"><hr size="15" width="24%" class="blue-line">
    </div>
  </div>
  <img src="https://i.imgur.com/TMA7dUb.jpg?1" class="doc-helping-patient" alt="doc-helping-patient" width="1200px;" height="506px;">
  <div class="article-title">
    <span class="hero-image-headline"> The Power of </span>
    <span class="hero-headline-compassion">Compassion</span>
  </div>
  <div class="sub-heading">
    <p class="heading-para">
      While medicine holds the power to cure, care delivered with kindness and compassion can speed the healing process and lead to better outcomes for patients and caregivers alike. Discover why showing compassion, offering reassurance, and listening actively calms patients, lowers blood pressure, and enables faster recuperation.
    </p>
  </div>
</div>

</body>
</html>
